::-webkit-input-placeholder {
  color: black;
}
form {
  margin: 50px 0 0 130px;
  width: 400px;
}
button {
  width: 400px;
}

#second #email{
  border: 1px solid black;
}
label {
  font-size: 15px;
}

#checkout #first h3 {
  padding-top: 300px;
}
#checkout #first i {
  font-size: 30px;
}
#checkout #second {
  margin-top: 150px;
}
